#greet{
    background-color: black;
    display:flex;
    justify-content: center;
}
#hi{
    background-color: red;
    border-radius: 5px;
    border: 1px solid black;
    display:flex;
    justify-content: center;
    margin:auto;
    width: 250px;
    margin-top: 20px
}
.Restart{
    background-color: blue;
    color:black;
    display:flex;
    margin:auto;
    margin: bottom 100px;
    width: 20%;
    justify-content: center;
    margin-top: 15px
}
.sim{
    display:flex;
    justify-content: center;
}
.box{
    width: 100px;
    height: 100px;
    background-color: limegreen;
    margin: 1px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 50px;
}
.class{
    display:flex;
    justify-content: center;
    font-size: 70px
}
.me{
    background-image: linear-gradient(orange,blue,yellow);
}